input{
    display: block;
    margin-bottom: 5px;
}
.wrap{
	width: auto;
	background: gray;
	margin: auto;
	padding: 5px 0;
	display: table;
}
.q{
	display: inline-block;
	float: left;
	margin: 10px;

}
h1, h2, h3{
	text-align: center;
}

